name: Deploy Angular to IONOS

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install and Build
        run: |
          # Buscamos la carpeta donde está el package.json
          PACKAGE_PATH=$(find . -name "package.json" -not -path "*/node_modules/*" | head -n 1)
          PROJECT_DIR=$(dirname "$PACKAGE_PATH")
          echo "Entrando en la carpeta: $PROJECT_DIR"
          cd "$PROJECT_DIR"
          
          # Instalamos ignorando el package-lock para evitar el error de 'Invalid Version'
          npm install --no-package-lock
          
          # Ejecutamos el build
          npm run build -- --configuration production

      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Usamos un patrón más flexible para encontrar los archivos compilados
          source: "**/dist/**/browser/*"
          target: "/var/www/html/examen"
          strip_components: 4
